<form action="Index" method="get">
	
	<input type="hidden" name="comando" value="nuovoanimale">
	
	Costo Giornaliero : <input type="text" name="costogiornaliero"> <br>
	Id Addestratore : <input type="text" name="idaddestratore"> <br>
	Nome : <input type="text" name="nome"> <br>
	Pericoloso : <input type="text" name="pericoloso"> <br>
	Specie : <input type="text" name="specie"> <br>
	Tipo : <input type="text" name="tipo"> <br>
	Vaccinato : <input type="text" name="vaccinato"> <br>
	
	<input type="submit" value="Salva">
	
</form>