<form action="Index" method="get">
	
	<input type="hidden" name="comando" value="nuovostaff">
	
	Nome : <input type="text" name="nome"> <br>
	Cognome : <input type="text" name="cognome"> <br>
	Data di nascita : <input type="date" name="dob"> <br>
	Sesso : <input type="text" name="sesso"> <br>
	Giorno libero : <input type="text" name="giornolibero"> <br>
	Ruolo : <input type="text" name="ruolo"> <br>
	Stipendio : <input type="text" name="stipendio"> <br>
	
	<input type="submit" value="Salva">
	
</form>