<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
		<form action="Index" method="get">
		
			<input type="hidden" name="comando" value="nuovostudente">
			Nome: <input type="text" name="nome"> <br>
			Cognome: <input type="text" name="cognome"> <br>
			Data di nascita: <input type="date" name="dob"> <br>
			Residenza: <input type="text" name="residenza"> <br>
			Classe: <input type="text" name="classe"> <br>
			Sezione: <input type="text" name="sezione"> <br>
			Voto italiano: <input type="text" name="votoita"> <br>
			Voto matematica: <input type="text" name="votomat"> <br>
			Voto inglese: <input type="text" name="votoing"> <br>
			Voto storia: <input type="text" name="votosto"> <br>
			<input type="submit" value="Salva">
		</form>
	</body>
</html>