<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>Benvenuto nel sito della Scuola!</h1>
	
	<p>Cosa ti va di vedere?</p>
	<a href="Index">Home</a>
	<a href="Index?comando=elenco">Elenco delle persone</a>
	<a href="Index?comando=elencostudenti">Elenco degli studenti</a>
	<a href="Index?comando=formnuovapersona">Crea nuova persona</a>
	<a href="Index?comando=formnuovostudente">Crea nuova studente</a>
	<br> <br>
</body>
</html>